Host *
    UserKnownHostsFile ansible/roles/ssh/files/known_hosts
    IdentityFile ansible/roles/ssh/files/id_rsa
    User root

Host ${self.name}
    Hostname ${self.backbone.ip}

Host login
    Hostname 10.5.0.2
